* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: logo;
  src: url("./media/Androgyne_TB.otf");
}

@font-face {
  font-family: roboto;
  src: url("./media/Roboto-Medium.ttf");
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe600), to(#f8b601));
  background: linear-gradient(to bottom, #ffe600, #f8b601);
}

.container.login {
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  color: white;
  font-family: logo;
  font-size: 3rem;
  text-align: center;
}

.logo span {
  color: #008cff;
}

.userName {
  width: 400px;
  height: 60px;
  margin: 20px 0;
  font-size: 1.5rem;
  padding-left: 10px;
  opacity: 0.4;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  outline: none;
  border: none;
}

.userName:focus {
  opacity: 0.9;
}

.password {
  width: 400px;
  height: 60px;
  padding-left: 10px;
  font-size: 1.5rem;
  opacity: 0.4;
  outline: none;
  border: none;
}

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginBtn {
  height: 40px;
  width: 100px;
  background: #008cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  cursor: pointer;
}

.loginBtn span {
  color: white;
  position: absolute;
  z-index: 1;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.loginBtn:hover {
  opacity: 0.7;
}

.groupUsername {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.modal h1 {
  font-family: logo;
  color: white;
}

.groupPassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal {
  background: #008cff;
  height: 500px;
  width: 500px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.register {
  text-align: right;
  width: 95%;
  margin-top: 30px;
  color: #008cff;
  font-family: roboto;
  cursor: pointer;
}

.register:hover {
  text-decoration: underline;
}

.modal.active {
  opacity: 1;
  z-index: 5;
}

.modal label {
  color: white;
}

label {
  font-family: roboto;
}

.registerBtn {
  height: 40px;
  width: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe600), to(#f8b601));
  background: linear-gradient(to bottom, #ffe600, #f8b601);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  cursor: pointer;
  color: white;
}

.modalPassword {
  margin-bottom: 10px;
}

.modalUsername, .modalPassword, .modalPasswordenter {
  height: 30px;
  font-size: 1.2rem;
  opacity: 0.6;
}

.modalUsername:focus, .modalPassword:focus, .modalPasswordenter:focus {
  font-family: roboto;
  opacity: 0.9;
}

.smallPrint {
  margin-top: 10px;
  font-size: 0.7rem;
  color: white;
  display: none;
}

.closeBtn {
  color: white;
  font-size: 1.5rem;
  text-align: right;
  width: 90%;
  margin-top: -30px;
}

input {
  outline: none;
  border: none;
}
/*# sourceMappingURL=Home.css.map */